In [34]:
import pandas as py
import numpy as np
df = py.read_csv(r'D:\ML\BTP\preprocessing\bowlerMatchByMatchData.csv')

In [35]:
df

,match_id,bowler,venue,batting_team,Runs_Conceded,Wickets_Taken,Good_wickets,balls_bowled,5ws,3ws,4ws,Economy,strike_rate,maidens,dream 11 score
0,335982,AA Noffke,M Chinnaswamy Stadium,Kolkata Knight Riders,35,1,25,25,0,0,0,8.400000,25.000000,0,75
1,335982,AB Agarkar,M Chinnaswamy Stadium,Royal Challengers Bangalore,21,3,28,28,0,1,0,4.500000,9.333333,0,137
2,335982,AB Dinda,M Chinnaswamy Stadium,Royal Challengers Bangalore,7,2,19,20,0,0,0,2.100000,10.000000,0,94
3,335982,CL White,M Chinnaswamy Stadium,Kolkata Knight Riders,22,0,7,7,0,0,0,18.857143,27.000000,0,8
4,335982,I Sharma,M Chinnaswamy Stadium,Royal Challengers Bangalore,6,1,18,19,0,0,0,1.894737,19.000000,1,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,1370353,Mohammed Shami,Narendra Modi Stadium,Chennai Super Kings,29,0,18,18,0,0,0,9.666667,38.000000,0,36
12117,1370353,Noor Ahmad,Narendra Modi Stadium,Chennai Super Kings,14,2,21,21,0,0,0,4.000000,10.500000,0,98
12118,1370353,RA Jadeja,Narendra Modi Stadium,Gujarat Titans,38,1,23,24,0,0,0,9.500000,24.000000,0,71
12119,1370353,Rashid Khan,Narendra Modi Stadium,Chennai Super Kings,44,0,18,18,0,0,0,14.666667,38.000000,0,30
12120,1370353,TU Deshpande,Narendra Modi Stadium,Gujarat Titans,56,0,24,24,0,0,0,14.000000,44.000000,0,42

In [36]:
df=df[['bowler','venue','batting_team','dream 11 score']]

In [37]:
bowlerData = py.read_csv(r'D:\ML\BTP\preprocessing\bowlerData.csv')

In [38]:
bowlerData = bowlerData[['bowler','Matches_Played','avg_drm11_score', 'Economy', 'strike_rate']]

In [39]:
bowlerOppositon = py.read_csv(
    r'D:\ML\BTP\preprocessing\bowlerOppositionWiseData.csv')

In [40]:
bowlerOppositon = bowlerOppositon[[
    'bowler', 'batting_team', 'bowlerOppositionWiseMatches_Played', 'bowlerOppositionWiseavg_drm11_score', 'bowlerOppositionWiseEconomy', 'bowlerOppositionWisestrike_rate']]

In [41]:
bowlerVenue = py.read_csv(r'D:\ML\BTP\preprocessing\bowlerVenueWiseData.csv')

In [42]:
bowlerVenue = bowlerVenue[[
    'bowler', 'venue', 'bowlerVenueMatches_Played', 'bowlerVenueavg_drm11_score', 'bowlerVenueEconomy', 'bowlerVenuestrike_rate']]

In [43]:
venuedata = py.read_csv(
    r'D:\ML\BTP\preprocessing\VenueData.csv')
venuedata = venuedata[['venue', 'Venue_Matches_Played',
                      'Venue_Avg_Batsmen_Strike_Rate', 'Venue_Avg_Batsmen_Average', 'Venue_Avg_Bowler_Economy', 'Venue_Avg_Bowler_Average', 'Venue_dream11']]

In [44]:

df = df.merge(bowlerData, on='bowler', how='left')
df = df.merge(bowlerOppositon, on=[
    'bowler', 'batting_team'], how='left')
df = df.merge(bowlerVenue, on=['bowler', 'venue'], how='left')
df = df.merge(venuedata, on=['venue'], how='left')
# df.drop('match_id', axis=1, inplace=True)
# df.to_csv('final_bowler.csv', index=False)

In [45]:
df.isnull().sum()

bowler                                 0
venue                                  0
batting_team                           0
dream 11 score                         0
Matches_Played                         0
avg_drm11_score                        0
Economy                                0
strike_rate                            0
bowlerOppositionWiseMatches_Played     0
bowlerOppositionWiseavg_drm11_score    0
bowlerOppositionWiseEconomy            0
bowlerOppositionWisestrike_rate        0
bowlerVenueMatches_Played              0
bowlerVenueavg_drm11_score             0
bowlerVenueEconomy                     0
bowlerVenuestrike_rate                 0
Venue_Matches_Played                   0
Venue_Avg_Batsmen_Strike_Rate          0
Venue_Avg_Batsmen_Average              0
Venue_Avg_Bowler_Economy               0
Venue_Avg_Bowler_Average               0
Venue_dream11                          0
dtype: int64

In [46]:
df['Venue_Matches_Played'].fillna(
    value=df['Venue_Matches_Played'].mean(), inplace=True)
df['Venue_Avg_Batsmen_Strike_Rate'].fillna(
    value=df['Venue_Avg_Batsmen_Strike_Rate'].mean(), inplace=True)
df['Venue_Avg_Batsmen_Average'].fillna(
    value=df['Venue_Avg_Batsmen_Average'].mean(), inplace=True)
df['Venue_Avg_Bowler_Economy'].fillna(
    value=df['Venue_Avg_Bowler_Economy'].mean(), inplace=True)
df['Venue_Avg_Bowler_Average'].fillna(
    value=df['Venue_Avg_Bowler_Average'].mean(), inplace=True)
df['Venue_dream11'].fillna(
    value=df['Venue_dream11'].mean(), inplace=True)
# df.to_csv('final_bowler.csv', index=False)

In [47]:
df.to_csv('final_bowler.csv', index=False)

In [48]:
df.isnull().sum()

bowler                                 0
venue                                  0
batting_team                           0
dream 11 score                         0
Matches_Played                         0
avg_drm11_score                        0
Economy                                0
strike_rate                            0
bowlerOppositionWiseMatches_Played     0
bowlerOppositionWiseavg_drm11_score    0
bowlerOppositionWiseEconomy            0
bowlerOppositionWisestrike_rate        0
bowlerVenueMatches_Played              0
bowlerVenueavg_drm11_score             0
bowlerVenueEconomy                     0
bowlerVenuestrike_rate                 0
Venue_Matches_Played                   0
Venue_Avg_Batsmen_Strike_Rate          0
Venue_Avg_Batsmen_Average              0
Venue_Avg_Bowler_Economy               0
Venue_Avg_Bowler_Average               0
Venue_dream11                          0
dtype: int64

In [49]:
df['bowlerOppositionWiseavg_drm11_score']

0        75.000000
1        69.500000
2        80.625000
3        15.000000
4        70.200000
           ...
12116    73.000000
12117    84.500000
12118    76.250000
12119    72.666667
12120    60.666667
Name: bowlerOppositionWiseavg_drm11_score, Length: 12121, dtype: float64

In [50]:
df

,bowler,venue,batting_team,dream 11 score,Matches_Played,avg_drm11_score,Economy,strike_rate,bowlerOppositionWiseMatches_Played,bowlerOppositionWiseavg_drm11_score,...,bowlerVenueMatches_Played,bowlerVenueavg_drm11_score,bowlerVenueEconomy,bowlerVenuestrike_rate,Venue_Matches_Played,Venue_Avg_Batsmen_Strike_Rate,Venue_Avg_Batsmen_Average,Venue_Avg_Bowler_Economy,Venue_Avg_Bowler_Average,Venue_dream11
0,AA Noffke,M Chinnaswamy Stadium,Kolkata Knight Riders,75,1,75.000000,8.400000,25.000000,1,75.000000,...,1,75.000000,8.400000,25.000000,87,132.025235,1.320252,7.921514,1.320252,325.160920
1,AB Agarkar,M Chinnaswamy Stadium,Royal Challengers Bangalore,137,42,59.595238,8.136585,24.848485,4,69.500000,...,2,86.500000,6.521739,15.333333,87,132.025235,1.320252,7.921514,1.320252,325.160920
2,AB Dinda,M Chinnaswamy Stadium,Royal Challengers Bangalore,94,75,71.466667,7.502832,19.378049,8,80.625000,...,8,72.375000,7.840909,19.555556,87,132.025235,1.320252,7.921514,1.320252,325.160920
3,CL White,M Chinnaswamy Stadium,Kolkata Knight Riders,8,6,18.500000,10.565217,46.000000,2,15.000000,...,2,19.500000,16.615385,13.000000,87,132.025235,1.320252,7.921514,1.320252,325.160920
4,I Sharma,M Chinnaswamy Stadium,Royal Challengers Bangalore,79,101,68.019802,7.420561,26.750000,15,70.200000,...,5,57.600000,7.729730,55.500000,87,132.025235,1.320252,7.921514,1.320252,325.160920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,Mohammed Shami,Narendra Modi Stadium,Chennai Super Kings,36,110,80.618182,7.820706,17.506944,14,73.000000,...,13,91.307692,7.212121,14.142857,28,130.626209,1.306262,7.837573,1.306262,326.357143
12117,Noor Ahmad,Narendra Modi Stadium,Chennai Super Kings,98,13,78.615385,7.083612,18.687500,2,84.500000,...,7,70.714286,7.316129,22.142857,28,130.626209,1.306262,7.837573,1.306262,326.357143
12118,RA Jadeja,Narendra Modi Stadium,Gujarat Titans,71,197,57.152284,7.331302,22.422360,4,76.250000,...,3,71.000000,7.916667,24.000000,28,130.626209,1.306262,7.837573,1.306262,326.357143
12119,Rashid Khan,Narendra Modi Stadium,Chennai Super Kings,30,109,83.532110,6.491095,17.952381,15,72.666667,...,10,81.200000,8.110169,16.857143,28,130.626209,1.306262,7.837573,1.306262,326.357143
12120,TU Deshpande,Narendra Modi Stadium,Gujarat Titans,42,23,75.478261,9.017274,18.607143,3,60.666667,...,2,52.500000,13.695652,46.000000,28,130.626209,1.306262,7.837573,1.306262,326.357143